
body{
    width:99%;

}

.footerimg{
    width:100%;
    height:10%;
}

header{
    background-color: rgb(238, 236, 236);
}

main{
    background-color: rgb(238, 236, 236);
    height:90%;
    width: 100%;
   
}

footer{
   
    width:100%;
    max-height: 100px;
    margin:0;
}
  
.footer1{
    
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(33, 104, 104); 
    text-align: center;
}

div.container{
    /*border: 1px solid rgb(120, 121, 120);*/
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:99%;
    height:90vh;
    
    /*margin:0;
    padding: 5px;*/


}

div.pp{
    border: 1px solid rgb(120, 121, 120);
    background-color: rgb(250, 250, 250);
    width:205px;
    height: 160px;
    flex-direction: column;
    /*margin:auto;
    display:flex;*/
    padding:5px;
    
}

.inputsb{
    width:80%;
    height:35px;
    box-shadow: grey;
    border-radius: 5px;
   
}
.btnsbmt{
    width:80px;
    height:35px;
    background-color: rgb(19, 105, 105);
    color:white;
    margin:0;
    font-size: 17px;

}

div.sbmt{
    margin:auto;
    margin-top:-15px;
    width:40%;
    /*display:inline-block;
    border: 2px solid white;
    border-bottom: 3px;*/
}

.inv{
    width:22%;
    display: inline-flex;
    margin:0;
    float: right;
    
}
input.generalcf{
    margin-top:23px;
}

h2{
    float:left;
}

.btnedit{
    color:white;
    background-color: rgb(7, 108, 126);
    font-size: 14px;
    border-radius: 3px;
    width:40px;

}

.btnremove{
    color:white;
    background-color: rgb(87, 155, 187);
    font-size: 14px;
    border-radius: 3px;
    width:60px;

}